body {
    font: normal 14px Arial;
    background-color: #383838;
}

main {
    background-color: white;
    box-shadow: 3px 3px 5px #171717;
    border-radius: 10px;
    width: 560px;
    margin: auto;
    padding: 10px;
}

iframe {
    align-content: center;
}